<!-- start main content -->
<main class="main-container">
    <section class="product_content_area pt-40">
        <!-- start of page content -->
    
        <div class="lookcare-product-single container">
    
            <div class="row">
    
                <div class="main col-xs-12" role="main">
    
                    <div ng-repeat="data in showDetails" class=" product">
    
                        <div class="row">
                            <div id="detail_shop"> 
                                

                                <div class="col-md-5 col-sm-6 summary-before ">
  
                                    <div class="product-slider product-shop">
                                      <span class="onsale">Sale!</span>
                                      
                                      <ul class="slides">
                                          <li data-thumb="frontend/view/img/temp-images/hoodie_7_front-140x140.jpg">
                                              <a href="frontend/view/img/temp-images/hoodie_7_front.jpg" data-imagelightbox="gallery" class="hoodie_7_front">
                                                  <img src="http://localhost/FW_BikeShop_angular/frontend/{{data.img}}" class="attachment-shop_single" alt="image">
                                              </a>
                                          </li>
                                          <!-- <li data-thumb="view/img/temp-images/hoodie_7_back-140x140.jpg">'+
                                              '<a href="view/img/temp-images/hoodie_7_back.jpg" data-imagelightbox="gallery" class="hoodie_7_back">'+
                                                  '<img src="view/img/temp-images/hoodie_7_back-470x470.jpg" class="attachment-shop_single" alt="image">'+
                                              '</a>'+
                                          '</li> -->
                        
                                        </ul>
                                      </div>
                                    </div>
                            </div>
                         
    
                            <div class="col-sm-6 col-md-7 product-review entry-summary">
                                <div id="product_title">
                                    <h1 class="product_title" >{{data.brand}}</h1>
                                </div>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" title="Rated 4.00 out of 5">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="#reviews" class="woocommerce-review-link">(<span class="count">3</span> Reviews)</a>
                                </div>
    
                                <div id="detail_price">
                                    <p class="price"><del><span class="amount"></span></del>
                                    <ins><span class="amount">{{data.price}}€</span></ins></p>

                                </div>
                                   
                                    
                               
                                <div id="detail_comment"> <p>{{data.price}}</p>
                                    <span class="sku_wrapper">TALLA: <span class="sku">{{data.size}}</span>   </span>
                                    <a></a></br>
                                    <span class="posted_in">Categoria: <a href="#" rel="tag">{{data.category}}</a></span>
                                
                                
                                </div>
                                        
                                <form class="variations_form cart" method="post">
                                    <div class="quantity">
                                        <input type="number" step="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" min="1">
                                    </div>
    
                                    <button type="submit" class="cart-button">Añadir al carrito</button> <i class="fa fa-map-o" id="click_maps"></i>     
                                </form>
    
                                <div class="product_meta" id=producto_meta>
    
                                    <!-- <span class="sku_wrapper">SKU: <span class="sku">N/A</span>.</span>
    
                                    <span class="posted_in">Categories: <a href="#" rel="tag">Clothing</a>, <a href="#">Hoodies</a>.</span> -->
    
                                </div>
                            
                                <div ng-if="data.favs == data.idbike">
                                    <i  id="like-{{data.idbike}}"  ng-click="favDetails(data.idbike)"  class="fa fa-heart" style="color:red"></i>
                                </div>

                                <div ng-if="data.favs != data.idbike" class="inner">
                                    <i id="like-{{data.idbike}}" ng-click="favDetails(data.idbike)"  class="fa fa-heart"  style="color:black"></i>
                                </div>

                                <div class="share-social-icons">
    
                                    <a href="#" target="_blank" title="Share on Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Share on Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Pin on Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Share on Google+">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
    
                            </div>
                            <!-- .summary -->
                            <!-- BOTON AÑADIDO -->
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a class="btn btn-secondary click-volver" ng-click = "backShop()">Volver <i class="fa ml-xs"></i></a>
                                </div>
                                <!-- .col-md-12 end -->
                            </div>
                            <!-- .row End -->
                            <!-- END BOTON AÑADIDO -->
                        </div>
                            <div class="api_books"></div>
                            <hr color="black" size=3>
                        <!-- <table>
                            <h3>LIBROS RECOMENDADOS</h3>
                            
                            <tr> -->
                                <!-- <div id = "viewerCanvas"  class="viewerCanvas"></div> DIV API(GOOGLEBOOKS) -->
                            <!-- </tr>
                        </table> -->
                        <div class="wrapper-description">
                                <!-- DIV VACIO  -->
                        </div>
                    </div>
                    <!-- #product-293 -->
                </div>
                <!-- end of main -->
            </div>
            <!-- end of .row -->
        </div>
        <!-- end of page content -->
    </section>
    <!-- service area -->
        <section class="block gray no-padding">
        <!-- DIV VACIO -->
        </section>
        <div class="clearfix"></div>
    <!-- end service area -->


   

</main>
    <!-- end main content -->