<!-- start main content -->
<main class="main-container">
    <section class="product_content_area pt-40">
        <!-- start of page content -->
    
        <div class="lookcare-product-single container">
    
            <div class="row">
    
                <div class="main col-xs-12" role="main">
    
                    <div class=" product">
    
                        <div class="row">
                            <div id="detail_shop"></div>
                         
    
                            <div class="col-sm-6 col-md-7 product-review entry-summary">
                                <div id="product_title">
                                <!-- <h1 class="product_title" >Belted Eyelet Lace Fit</h1> -->
                                </div>
                                <div class="woocommerce-product-rating">
                                    <div class="star-rating" title="Rated 4.00 out of 5">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <a href="#reviews" class="woocommerce-review-link">(<span class="count">3</span> Reviews)</a>
                                </div>
    
                                <div id="detail_price"></div>
                                    <!-- Div que actualiza el precio desde DB. -->
                                    
                               
                                <div id="detail_comment"></div>
                                        <!-- DIV muestra el comentario desde DB. -->
                                <form class="variations_form cart" method="post">
                                    <div class="quantity">
                                        <input type="number" step="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" min="1">
                                    </div>
    
                                    <button type="submit" class="cart-button">Añadir al carrito</button> <i class="fa fa-map-o" id="click_maps"></i>     
                                </form>
    
                                <div class="product_meta" id=producto_meta>
    
                                    <!-- <span class="sku_wrapper">SKU: <span class="sku">N/A</span>.</span>
    
                                    <span class="posted_in">Categories: <a href="#" rel="tag">Clothing</a>, <a href="#">Hoodies</a>.</span> -->
    
                                </div>

                                <div id="fav_button_details" class="fav_button_details">

                                </div>
    
                                <div class="share-social-icons">
    
                                    <a href="#" target="_blank" title="Share on Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Share on Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Pin on Pinterest">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                    <a href="#" target="_blank" title="Share on Google+">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
    
                            </div>
                            <!-- .summary -->
                            <!-- BOTON AÑADIDO -->
                            <div class="row">

                                <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                    <a class="btn btn-secondary click-volver">Volver <i class="fa ml-xs"></i></a>
                                </div>
                                <!-- .col-md-12 end -->
                            </div>
                            <!-- .row End -->
                            <!-- END BOTON AÑADIDO -->
                        </div>
                            <div class="api_books"></div>
                            <hr color="black" size=3>
                        <table>
                            <h3>LIBROS RECOMENDADOS</h3>
                            
                            <tr>
                                <div id = "viewerCanvas"  class="viewerCanvas"></div> <!-- DIV API(GOOGLEBOOKS) -->
                            </tr>
                        </table>
                        <div class="wrapper-description">
                                <!-- DIV VACIO  -->
                        </div>
                    </div>
                    <!-- #product-293 -->
                </div>
                <!-- end of main -->
            </div>
            <!-- end of .row -->
        </div>
        <!-- end of page content -->
    </section>
    <!-- service area -->
        <section class="block gray no-padding">
        <!-- DIV VACIO -->
        </section>
        <div class="clearfix"></div>
    <!-- end service area -->
    </main>
    <!-- end main content -->