<!-- start main content -->
<main class="container">

	<section>

		<div class="signuppanel">

			<div class="row">

				<div class="col-md-6">

					<form id="form_register" name="form_register" method="post">

						<h3 class="nomargin">Registro</h3> 
						<div class="mb10">
							<label class="control-label">Usuario</label>
							<input required type="text" class="form-control" ng-pattern = "regUsername" ng-model = "user_user" id="user_user" name="user_user" placeholder="Usuario"/>
							<span style="color: red ;" id="e_user">{{e_user}}</span>
						</div>

						<div class="mb10">
							<label class="control-label">Email Address</label>
							<input required type="text" class="form-control" ng-pattern = "regEmail" ng-model = "user_email" id="user_email" name="user_email" placeholder="Correo electrónico"/>
							<span style="color: red ;" id="e_email">{{e_email}}</span>
						</div>


						<div class="mb10">
							<label class="control-label">Password</label>
							<input required type="password" class="form-control" ng-pattern = "regPassword" ng-model = "user_passwd" id="user_passwd" name="user_passwd" placeholder="Contraseña"/>
							<span style="color: red ;" id="e_passwd">{{e_passwd}}</span>
						</div>

						<div class="mb10">
							<label class="control-label">Repite Password</label>
							<input required type="password" class="form-control" ng-pattern = "regPassword" ng-model = "user_passwd2" id="user_passwd2" placeholder=" Repita Contraseña" />
							<span style="color: red ;" id="e_passwd2">{{e_passwd2}}</span>
						</div>

						</br>
						<div id="show_reg_dialog" ng-model="show_reg_dialog">{{show_reg_dialog}}</div>

						</br>
						<input type="button" name="register_input"  ng-click="register()" id="register_input" class="btn btn-success btn-block" value="Sing up"></input>
						
					</form>
					<br />
					<p class="mt5 mb20">Ya eres miembro? <button id="redir_login" class="redir_login" href="#/login" >Acceder</button></p>

				</div><!-- col-sm-6 -->

			</div><!-- row -->

		</div><!-- signuppanel -->

	</section>
</main>
<!-- end  main content -->