<!-- Navigation starts -->
<div class="header-1">

    <div class="navi" id="menu">
        <!-- <div class="navi" id="menu"> -->
        <div class="container">
            <div class="navy" id="navy_menu">
                <!-- <ul> -->
                    <!-- Main menu -->
                    <ul>
                        <li><a href="#home">Inicio</a></li>
                        <li><a href="#shop">Shop</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="#conocenos">Conocenos</a></li>
                    </ul>
            </div>
        </div>
    </div>

</div>
<!-- Navigation ends -->

