
 <div id="footer">

	<!-- start footer area -->
	<footer class="footer-area-content">
	
		<div class="container">
			<div class="footer-wrapper style-3">
				<div class="type-1">
					<div class="footer-columns-entry">
						<div class="row">
							<div class="col-md-3">
								<img alt="" src="view/img/footer-logo.png" class="footer-logo">
								<div class="footer-description">Más que una tienda, más que un taller de bicis, en elite bikes creemos en la bici como un estilo de vida .</div>
								<div class="footer-address">Avd.Francisco Cerda 49 <br> Phone: +46 123 456 789<br> Email: <a href="mailto:hachemico@gmail.com">info@elitebike.com</a><br>
									<a target="_blank" href="http://google.com/"><b>www.elitebike.com</b></a>
								</div>
								<div class="clear"></div>
							</div>
							<div class="col-md-3">
								<div class="index-three-footer-widget how-to-buy">
									<h3 class="heading2">Compras</h3>
									<ul>
										<li><a href="#" title="">EliteBike seller</a></li>
										<li><a href="#" title="">Advertise Your Products</a></li>
										<li><a href="#" title="">Sell on Amazon Business</a></li>
										<li><a href="#" title="">Subscribe to receive inspiration</a></li>
									</ul>
								</div><!-- Widget -->
							</div>
							<div class="col-md-3">
								<div class="index-three-footer-widget customer-services">
									<h3 class="heading2">Atención Cliente</h3>
									<ul>
										<li><a href="#" title="">Refund Policy</a></li>
										<li><a href="#" title="">How to Shop on Flaiva</a></li>
										<li><a href="#" title="">Track Your Order</a></li>
										<li><a href="#" title="">Shipping Policy</a></li>
									</ul>
								</div><!-- Widget -->
							</div>
							<div class="col-md-3">
								<div class="index-three-footer-widget news-letter">
									<h3 class="heading2">Alta NewsLetter</h3>
									<p>Suscribete para recivir inspiracion, ideas y todas las novedades.</p>
									<form>
										<input type="text" placeholder="Enter your Email" />
										<button type="submit"><i class="fa fa-search"></i></button>
									</form>
									<ul class="social-buttons">
										<li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
										<li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
										<li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
										<li><a href="#" title=""><i class="fa fa-rss"></i></a></li>
										<li><a href="#" title=""><i class="fa fa-tumblr"></i></a></li>
									</ul>
								</div><!-- Widget -->
							</div>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	
	
		<div class="footer-bottom footer-wrapper style-3">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="footer-bottom-navigation">
							<div class="cell-view">
								<div class="footer-links">
									<a href="#">Site Map</a>
									<a href="#">Buscar</a>
									<a href="#">Terminos Uso</a>
									<a href="#">Busqueda Avanzada</a>
									<a href="#">Pedidos y Devoluciones</a>
									<a href="#">Contacto</a>
								</div>
								<div class="copyright">Created with by <a target="_blank">HachemicoDevs</a> . All right reserved 2021</div>
							</div>
							<div class="cell-view">
								<div class="payment-methods">
									<a href="#"><img alt="" src="view/img/payment-method-1.png"></a>
									<a href="#"><img alt="" src="view/img/payment-method-2.png"></a>
									<a href="#"><img alt="" src="view/img/payment-method-3.png"></a>
									<a href="#"><img alt="" src="view/img/payment-method-4.png"></a>
									<a href="#"><img alt="" src="view/img/payment-method-5.png"></a>
									<a href="#"><img alt="" src="view/img/payment-method-6.png"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		</div>
	
	
	
	</footer>
	<!-- footer area end -->
 </div>