<!-- Navigation starts -->
<div class="header-1">

    <div class="navi" id="menu">
        <!-- <div class="navi" id="menu"> -->
        <div class="container">
            <div class="navy">
                <ul>
                    <!-- Main menu -->
                    <li><a href="index.php?module=home&function=list" data-tr="Inicio">Inicio</a></li>
                                 <!-- index.php?module=contact&function=sendEmail -->

                    <li><a href="index.php?module=bike&function=list"data-tr="Bicicletas">Bicicletas</a></li>

                    <li><a href="index.php?module=shop&function=list"data-tr="Tienda">Shop</a></li>

                    <li><a href="index.php?module=aboutus&function=list"data-tr="Conocenos">Conocenos</a></li>
                    
                    <li><a href="index.php?module=contact&function=list"data-tr="Contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>
<!-- Navigation ends -->

