<!-- start main content -->
<main class="main-container">
    <div id="contenido"></div>
    <section class="men_area pt-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="kat-shoe-bg imgframe6">
                                <img src="view/img/large-banner-4.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div id="contenido"></div>
<!-- ============================================= -->

                    <div id="shop" class="row">
                            <div id="shop-all" class="row"></div>
                            <div id="shop-detail" class="row"></div>
                    </div>
                    <div class="pagination" id="pagination"></div>    <!-- DIV PAGINATION -->
                    <div class="api_books"></div>
                    <hr color="black" size=3>
                <table>
                    <h3>LIBROS RECOMENDADOS</h3>
                    
                    <tr>
                        <div id = "viewerCanvas"  class="viewerCanvas"></div> <!-- DIV API(GOOGLEBOOKS) -->
                    </tr>
                </table>
              
 <!-- ============================================= -->
    </div>
    
    <aside class="col-md-3 sidebar">

        <div class="widget category-widget">

            <h2>BUSQUEDA AVANZADA</h2>

            <ul id="category-widget">
                    
                    <ul>
                        <li>CATEGORIA</li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_cat1" class=""/>Xc</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_cat2" class=""/>Trail</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_cat3" class=""/>Enduro</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_cat4" class=""/>Emtb</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_cat5" class=""/>Road</label>
                        </li>
                    </ul>
                
            </ul>
        </div>
        <!-- /.category widget -->
        <div class="widget category-widget">

            <ul id="category-widget">
              
                    <ul>
                        <li>TALLA</li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_size1" class=""/>S</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_size2" class=""/>M</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_size3" class=""/>L</label>
                        </li>
                        <li><label class="checkbox">
                            <input name="filter[]" type="checkbox" id="check_size4" class=""/>XL</label>
                        </li>
                    </ul>
            </ul>
        </div>
        <!-- /.category widget -->

        <div class="widget">

            <div class="filter-price">

                <!-- <div id="price-range"></div> -->

                <!-- <div id="filter-range-details" class="row">
                    <div class="col-xs-6">
                            <div class="filter-price-label">DESDE:</div>
                                <input type="text" id="price-range-low" class="form-control">
                    </div>

                    <div class="col-xs-6">
                        <div class="filter-price-label">HASTA:</div>
                            <input type="text" id="price-range-high" class="form-control">
                    </div>
                </div> -->

                <div class="filter-price-action">
                    <a id="filters-button" class="btn btn-custom-6 min-width-xss">APLICAR FILTROS</a>
                    <a id="reset-button" class="btn btn-custom-6 min-width-xs">LIMPIAR</a>
                </div>
             </div>
        </div>
        <!-- /.widget -->
    </aside>
    <!-- /.col-md-3 -->
</div>
</div>
</section>

<div class="clearfix"></div>
</main>
<!-- end main content -->


